
/* Navbar logo size */
.navbar-brand img {
  max-width: 50px;
}

/* Footer styles */
.site-footer {
  background-color: #26272b; /* Dark background color */
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #3a4b82;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}


/* Custom Card styles */
.custom-card {
  background-color: #333; /* Premium black background color */
  color: #fff; /* White text color */
  border: 1px solid #333; /* Dark border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  margin-bottom: 20px; /* Spacing between cards */
}

.custom-card img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.custom-card p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.custom-card strong {
  color: #007bff; /* Premium blue color for strong text */
}

marquee {
  background-color: #26272b; /* Dark background color */
  color: #fff; /* White text color */
  padding: 10px 0;
}
